<style>
  .feed-subscribe {
    display: none;
  }
</style>

<script>
    window.MathJax = {
      options: {
        renderActions: {
          findScript: [10, function (doc) {
            document.querySelectorAll('script[type^="math/tex"]').forEach(function (node) {
              var display = !!node.type.match(/; *mode=display/);
              var math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              var text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = { node: text, delim: '', n: 0 };
              math.end = { node: text, delim: '', n: 0 };
              doc.math.push(math);
            });
          }, '']
        }
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>